*{
     margin:0;
     padding:0;
     box-sizing: border-box;
}

body{
     background:#f2f2f2;
     font-family: 'Noto Sans TC', sans-serif;
}
div.container{
     margin:0 auto;
     width:60%;
}
div.comentarios{
     background:#fff;
     padding:50px;
     border-radius:10px;
     border-top:10px solid #8de6ae;
     margin-top:60px;
     box-shadow:0 0 10px rgba(0,0,0,.3)
}
h2{
     color:#1fd660;
     border-bottom: 1px solid #c8f3d8;
}
div.comentarios div.comentario{
     padding:20px;
     border-bottom: 1px solid #f2f2f2;
}
div.comentarios div.comentario span{
     font-weight: bold;
}
div.comentarios div.comentario div.acciones{
     padding:10px 0;
     text-align: right;
}
div.comentarios div.comentario button{
     padding:10px 15px;
     border:none;
     border-radius: 2px;
     color:#fff;
     transition:ease .3s all;
     margin:0 10px;
}
div.comentarios div.comentario button:hover{
     transform:scale(1.1);
}
div.comentarios div.comentario button.borrar{
     background: #fe6969;
}
div.comentarios div.comentario button.editar{
     background: #759afa;
}
div.btn-add{
     position:fixed;
     bottom:30px;
     right:40px;
}
div.btn-add i{
     color:#1fd660;
     font-size: 50px;
     text-shadow:0 0 2px rgba(0,0,0,.3);
     transition: all .3s ease;
}
div.error{
     background: #fe6969;
     padding:20px;
     margin:20px;
     color:#fff;
}
div.success{
     background:#1fd660;
     padding:20px;
     margin:20px;
     color:#fff;
}
div.formulario{
     width:50%;
     margin:0 auto;
     padding:20px 0;
}
div.formulario input[type=text],
div.formulario textarea{
     width:100%;
     padding:12px;
     border-radius: 2px;
     border:1px solid #cbcbcb;
}
div.formulario label{
     width:100%;
     display:block;
     margin:5px 0;
}
div.formulario input[type=radio]{
     margin:0 15px 0 5px;
}
div.formulario input[type=submit]{
     width:100%;
     padding:10px;
     margin-top:10px;
     border-radius: 2px;
     border:none;
     background: #1fd660;
     color:#fff;
     transition: all .3s ease;
}
div.formulario input[type=submit]:hover{
     transform:scale(1.1);

}
